body{
    font-family: OsloSansOffice-Regular;
    margin: 0;
    background-color: var(--light);
    color: var(--dark);
}

div{flex-shrink: 0;}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

/* SKY BAR */
.skybar{
        z-index: 1;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        font-size: large;
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height:5vh;
        min-height: 39px;
        width:100%;
        border-bottom: 1px solid transparent;
        background-color: var(--white);
        white-space: nowrap;
        align-items: center;
        overflow-x: scroll;
        overflow-y:hidden;
        border-bottom: 3px solid var(--danger);
        
    }
    .skybar::-webkit-scrollbar{
        display: none;
    }
    .sb-d{
        margin-left: 6.5px;
        margin-right: 6.5px;
        flex-grow: 0;
        width: 3px;
        border-radius: 10px;
        background-color: var(--danger);
        height: 100%;
    }
    .sb-l{
        left: 0;
        margin-left: 13px;
        margin-right: 6.5px;
        overflow: hidden;
    }
    .sb-m{
        flex-grow: 1;
        margin-left: 6.5px;
        margin-right: 6.5px;
        display: flex;
        justify-content: center;
    }
    .sb-r{
        margin-left: 6.5px;
        margin-right: 13px;
    }



/* MAIN CONTENT */
.main{
    padding-top: 5px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    align-items: center;
    padding-bottom: 100px;
    
}
.main-div{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: auto;
    width: 85%;
    max-width: 1200px;
    
}
.main-div>div{
    position: relative;
}
.main-div>div{
    width: 100%;

    border-radius: 3px;
    background-color: var(--white);
}
.main-div-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
}
.main-div-header>div{
    padding-left: 19.9px;
    text-transform: uppercase;
}
.main-div-breader{
    min-height: 200px;
    height: auto;
}

.main-link-offset{
    position: relative;
    size: 0;
    top: -7vh;
}




.footer{
    height: 200px;
    width: 100%;
    background-color: var(--dark);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.footer-header{
    margin-top: 20px;
    height: 50px;
    margin-left: 5%;
}
.footer-splitter{
    height: 3px;
    background-color: white;
    width: 250px;
    margin-left: 3.5%;
    border-radius: 10px;
}
.footer-breader{
    text-align: start;
    height: auto;
    margin-left: 5%;
}


/* SLIDERS */
.slider-container{
    margin: 10px;
    margin-left:  25px;
    margin-right: 25px;
    width: 1fr;
    height: auto;
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.191);
    background-color: var(--light);
    border-radius: 3px;
}
.slider{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    padding: 20px;
    gap: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.slider::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.slider.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.slider.active>div:hover {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.191);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1.015);
}

.slider-item{
    height: 400px;
    width: 400px;
    max-width: 102.5%;
    background-color: transparent;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.191);
    border-radius: 10px;
    overflow: hidden;
    
    cursor: pointer;
}   
.slider-item-image{
    width: 1fr;
    height: 80%;
    position: relative;
    top: 0px;
    /* background-image: url(shin.PNG); */
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    
    image-rendering:pixelated;
}
/* .slider-item:active>a>.slider-item-image{
    background-size: cover 105%;
    background-position: center;
    background-repeat:no-repeat;
    
    image-rendering:pixelated;
}
.slider-item:active>a>.slider-item-text{
    font-size: 210%;
} */

.slider-item-text{
    width: 1fr;
    height: 20%;
    position: relative;
    bottom: 0px;
    
    background-color: var(--dark);
    color: var(--white);
    box-shadow: 0 -1px 3px 2px rgba(0, 0, 0, 0.191);

    text-overflow: clip;
    overflow:visible;
    line-height: 80px;
    text-align:center;
    font-weight: bolder;
    font-size: 200%;
}